<table style="background-image:url({{STATIC_URL}}img/page.png);width:100%;padding:5px">
	<tr>
		<td><img src="{{STATIC_URL}}img/ichimoku_title_s.png" style="margin-right:-20px"></td>
		<td style="margin-left:0px">
			<h1 style="text-align:left;">Ichimoku - Japanese word aggregator</h1>
			<div style="font-weight:bold;">A free tool to split sentences, look up words, and export to other apllications.</div>
			<div style="font-size: small; font-weight:bold;" class="right">{{ userName }}</div>
		</td>
	</tr>
</table>