html
{
height: 100%;
}

body
{
height: 100%;
font-family:Verdana,Arial,sans-serif;
}

.right{
position:relative;
margin:0;
padding:0;
float:right;
}
.left{
position:relative;
margin:0;
padding:0;
float:left;
margin-left: 5px;
}

textarea {
overflow: auto;
}

#element_to_pop_up { 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:400px;
    min-height: 180px;
}

.bClose{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}

#wordtable {
	border: 2px solid #CCCCCC;
	border-collapse: collapse;
	margin-left: auto;
    margin-right: auto;
}
#wordtable td, #wordtable th {
	border: 1px solid #CCC;
	padding: 5px;
}

#wordtable td.word {
	text-align: center;
}

#wordtable th {
	font-weight: bold;
	/*font-size: 16px;*/
	background-color: #DDE9FF;
}

#wordtable tr.even {
	background-color: #ECF7FF;
}

#wordtable tr.odd {
	background-color: #FBFDFF;
}

.col2 {  width: 100%;}